body{
    padding: 0;
    margin: 0;
}

/* Headers */

.header{
    background-color: #1f2937;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    padding: 8px 164px;
}

.header-logo{
    width: 64px;
    border-radius: 50%;
}

.header-links ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.header-links a{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

/* Hero */

.hero{
    background-color: #1f2937;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #f9faf8;
    padding: 8px 164px;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero-image{
    height: 60%;
}

.hero-text h1{
    font-weight: bolder;
}

.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.subscribe-v7{
    border-radius: 10px;
    text-decoration: none;
    background-color: #3882f6;
    border: #3882f6;
    padding: 10px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #f9faf8;
}

/* Info */
.info{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 164px;
}

.cards{
    display: flex;
    font-size: 18px;
    font-weight: normal;
    gap: 50px;
    margin-top: 10px;
    align-items: flex-start;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
}

.card img{
    height: 128px;
    margin-bottom: 15px;
}

/* Quotes */

.quotes{
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: 8px 164px;
    gap: 25px;
}

.quotes p{
    margin: 0;
    padding: 0;
    text-align: right;
}

.quotes p.source{
    font-weight: 600;
}